# AWS
AWS_REGION=us-east-1
AWS_ROLE_ARN_STAGING=arn:aws:iam::ACCOUNT_ID:role/github-actions-staging
AWS_ROLE_ARN_PRODUCTION=arn:aws:iam::ACCOUNT_ID:role/github-actions-production

# Terraform
TF_VAR_db_password=change-me-in-production

# Grafana
GRAFANA_ADMIN_PASSWORD=change-me-in-production
GRAFANA_API_KEY=your-grafana-api-key
GRAFANA_URL=https://grafana.platform-ops.example.com

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL
